<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N 67° Online Store</title>
</head>
<body>
    <form action="/user/add_product_to_db" method="POST">
        <label for="product_name">name:</label>
        <input type="text" name="product_name" id="">
        <label for="price_per_unit">P:</label>
        <input type="text" name="price_per_unit" id="">
        <label for="product_description">D:</label>
        <input type="text" name="product_description" id="">
        <label for="product_instructions">product_instructions:</label>
        <input type="text" name="product_instructions" id="">
        <label for="product_quantity">product_quantity</label>
        <input type="text" name="product_quantity" id="">
        <label for="product_img">product_img</label>
        <input type="text" name="product_img" id="">
        <input type="submit" value="Submit" id="">
    </form>
</body>
</html>