<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N 67° Online Store</title>
</head>
<body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div>
            <div>
                <h1>N 67°</h1>
                <a href="/login">Sign in</a>
                <a href="/register">Register</a>
            </div>
            <div>
                <a href="/user/dashboard">Home</a>
                <a href="/seller_dashboard">Products</a>
                <a href="?">Company</a>
            </div>
            <div>
                <h3>Edit {{product.product_name}}</h3>
            </div>
            <form action="/user/edit_product/{{product.id}}" method="post">
                <p>Product Form</p>
                <input type="hidden" name="user_id" value="{{session.user_id}}">
                <section>
                    <label for="product_name">Product Name:</label>
                    <input type="text" name="product_name" value="{{product.product_name}}">
                </section>
                <section>
                    <label for="product_description">Description:</label>
                    <textarea name="product_description" cols="50" rows="4" value="{{product.product_description}}"></textarea>
                </section>
                <section>
                    <label for="product_instructions">Product Instructions:</label>
                    <textarea name="product_instructions" cols="50" rows="4" value="{{product.product_instructions}}"></textarea>
                </section>
                <section>
                    <label for="product_quantity">Quantity:</label>
                    <input type="text" name="product_quantity" value="{{product.product_quantity}}">
                </section>
                <section>
                    <label for="price_per_unit">Price per unit:</label>
                    <input type="number" name="price_per_unit" value="{{product.price_per_unit}}">
                </section>
                <section>
                    <label for="product_img">Upload Image:</label>
                    <input type="text" name="product_img">
                </section>
                <button type="submit">Add Product</button>
            </form>
        </main>

        </div>
</body>
</html>