<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N 67° Online Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-5">
                    <img src="C:\Users\duffy\Desktop\n67 logo.png" class="image-fluid">
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
    <h1>Hello Group 6</h1>
        <a href="/product/<id>">view a product</a>
        =======
        =======
        <h1>HELLO</h1>
        >>>>>>> c6c882264480573d0c1dbeeeec9d7776f0ca94e3
        {%for i in all_products%}
        <p>{{i.product_name}}</p>
        <p>{{i.product_quantity}}</p>
        <p>{{i.users.first_name}} {{i.users.last_name}}</p>
        {%if i.seller_id == user_id%}
        <a href="">Edit</a>
        <a href="">Delete</a>
        {%endif%}
        {%endfor%}
        >>>>>>> 257631bc1cb3a94cc3e32e7e6eafda93617ce3c4
</body>

</html>