<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N 67° Online Store</title>
</head>
<body>
    <div>
        <h1 class="sCart-title">N 67° Online Store</h1>
        <a href="/login">Sign in</a>
        <a href="/register">Register</a>
        <a href="/cart/order">View Cart</a>
    </div>
    <div>
        <a href="/company">About Our Company</a>
    </div>
    <form action  = "/setcookie" method = "POST">
        {% for i in all_products %}
        <p>{{i.product_img}}</p>
        <p>{{i.product_name}}</p>
        <p>{{i.price_per_unit}}</p>
        <!-- {%if i.seller_id == user_id%} -->
        <a href='/cart/add/product/{{i.product_id}}>'>Add To Cart</a>
        <!-- {%endif%} -->
        {%endfor%}
    </form>
</body>
</html>