<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='/js/my_script.js') }}"></script>
    <title>N 67° Online Store</title>
</head>

<body>
    <div class="container">
        <div class="nav-top-r">
            <a href="/">Return to Home Page</a>
            <a href="/cart"><img src="{{ url_for('static', filename='/imgs/shopping_cart_icon.jpeg') }}"></a>
        </div>
        <div class="nav-bar">
            <div class="nav-bar-title">
                <h1>N 67° Online Store</h1>
            </div>
            <div>
                <a href="/company">About Our Company</a>
            </div>
        </div>
        <div class="vw-product-card">
            <img src="{{ url_for('static', filename='/imgs/fail-to-load-img.png') }}">
            <h3>{{product.product_name}}</h3>
            <h4>{{product.price_per_unit | currencyFormat}}</h4>
            <p>{{product.product_description}}</p>
            <p>{{product.product_instructions}}</p>
        </div>
    </div>

</body>

</html>