* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ALL PAGES */

.container {
    border: 2px dotted red;
    margin: 2% auto;
}

.nav-top-r {
    text-align: right;
}

.nav-bar {
    margin: 0;
    align-items: center;
    text-align: center;
}

.nav-bar-title {
    border-bottom-style: solid;
}

/* HOMEPAGE */

<<<<<<< HEAD
.h-body {
=======
.h-body{
    width: auto;
    height: auto;
>>>>>>> bfa4cee880ac719554b2dcf010818bb9d1fa6428
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: space-around; */
}

.h-product-card {
    height: 10%;
    width: 20%;
    text-align: center;
    align-content: center;
    border: 2px dotted red;
    margin: 2%;
    padding: 2%;
}
.h-product-card img {
    width: 100%;
}

<<<<<<< HEAD
.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #808080;
}

@media only screen and (min-width: 992px) {
    .navbar {
        flex-direction: column;
    }

    /* .navbar .navbar-nav {
        border-bottom: 2px solid #000;
    } */

    .navbar .nav-item {
        padding: 0.5em 1em;
    }
}

.navbar .navbar-nav {
    margin-top: 0.5em;
    border-top: 2px solid #000;
=======
/* SELLER DASHBOARD */
.seller-title{
    text-align: center;
}

/* ADD PRODUCT FORM */
.add-prod-title{
    text-align: center;
>>>>>>> bfa4cee880ac719554b2dcf010818bb9d1fa6428
}