*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* ALL PAGES */

.container{
    /* border: 2px dotted red; */
    margin: 2% auto;
}

.nav-top-r{
    text-align: right;
}

.nav-bar{
    margin: 0;
    align-items: center;
    text-align: center;
}

.nav-bar-title{
    border-bottom-style: solid;
}

/* HOMEPAGE */

.h-body{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: space-around; */
}

.h-product-card{
    height:10%;
    width: 20%;
    text-align: center;
    align-content: center;
    border: 2px solid rgb(27, 26, 26);
    margin: 2%;
    padding: 2%;
}
.h-product-card img {
    width: 100%;
}

h-product-card img {
    width: 100%;
}
/* SELLER DASHBOARD */
.seller-title{
    text-align: center;
}

/* ADD PRODUCT FORM */
.add-prod-title{
    text-align: center;
    padding-bottom: 10px;
}
* Add and Edit forms*/
.A1{
    text-align: center;
}

.A2{
    align-items: center;
    display: flex;
    padding-left: 630px;
}

.A3{
    padding-right: 200px;
}

.A4{
    padding-right: 3px;
}

.A5{
    padding-left: 3px;
}

.A6{
    padding-bottom: 10px;
}

.A7{
    display: inline-block;
    position: center;
    border: solid black 1px;
    margin-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 10px;
    background-color: white;
}

.A8{
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 50px;
    align-items: baseline;
    align-items: center;
    display: flex;
}

.A9{
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 50px;
    align-items: baseline;
    align-items: center;
    display: flex;
}

.A10{
    padding-left: 1px;
    padding-right: 10px;
    align-items: baseline;
    align-items: center;
    display: flex;
}

.A11{
    padding-right: 1px;
    padding-left: 600px;
}

.A12{
    padding-bottom: 15px;
}

.B1{
    padding-right: 100px;
}

.B2{
    padding-right: 85px;
}

.B3{
    padding-right: 90px;
}

.B4{
    padding-right: 90px;
}

.B5{
    padding-right: 30px;
}

.B6{
    
    padding-right: 65px;
}

.B7{
    padding-right: 37px;
}

.B9{
    background-color: lightblue;
    padding-top: 0px;
}






/* SHOPPING CART */

.sCart-top-nav{
    text-align: center;
}

.sC-body{
    /* border: 2px dotted red; */
    text-align: center;
}

.shoppingcart{
    display: flex;
    /* justify-content: space-between; */
    /* margin: auto; */
    width: auto;
}

.sC-items{
    border-right-style: solid ;
    width: 60%;
    margin: 2% 0 2% 2%;
}

.sC-cost{
    /* border: 2px dotted red; */
    width: 60%;
    padding-top: auto;
    margin: 2% 2% 2% 0;
}

.cost{
    padding: 3%;
    border-bottom-style: solid;
}

.total{
    padding: 3%;
}